<p id="notice"><%= notice %></p>

<h1>Showing Comments</h1>

  <% @post.comments.each do |comment| %>
    <%= comment.body %>
    <%= comment.user %>
    
    <%= link_to 'Edit', edit_comment_path(comment) %>
    <%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>

<br>

<%= link_to 'Back', root_path %>