<div class="link row clearfix">
  <%= link_to posts_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <% if current_user %>
    <%= link_to new_post_path, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-plus"></span>
      New Post
    <% end %>

    <% unless params[:mine] %>
      <%= link_to posts_path(mine: true), class: 'btn btn-default' do %>
        My Posts
      <% end %>
    <% else %>
      <%= link_to posts_path, class: 'btn btn-default' do %>
        All
      <% end %>
    <% end %>
  <% end %>

  <% @posts.each do |post| %>
    <div class="post row clearfix">
      <h2>
        <%= link_to(post.title, post.url) %><br>
        <small class="author">Submitted <%= time_ago_in_words(post.created_at) %> by <%= post.user.email %></small>
      </h2>
      <%= link_to post_comments_path(post), class: 'btn btn-primary' do %>
          Show Comments
      <% end %>
      <% if current_user %>
        <% if post.user == current_user %>
          <%= link_to like_post_path(post), method: :put, class: "btn btn-default btn-sm" do %>
          <span class="glyphicon glyphicon-chevron-up"></span>
          <%= post.get_upvotes.size %>
        <% end %>
        <%= link_to dislike_post_path(post), method: :put, class: "btn btn-default btn-sm" do %>
          <span class="glyphicon glyphicon-chevron-down">
          <%= post.get_downvotes.size %>
        <% end %>
        <%= link_to edit_post_path(post) do %>
          <span class="glyphicon glyphicon-pencil"></span>
        <% end %>
        <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <span class="glyphicon glyphicon-trash"></span>
        <% end %>
        <%= link_to new_post_comment_path(post), class: 'btn btn-primary' do %>
          Add Comment
        <% end %>
                  
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>