<div class="page-header">
<h1><a href="<%= @post.url %>"><%= @post.title %></a><br> <small>Submitted by <%= @post.user.try(:email) %></small></h1>
</div>

<div class="btn-group">
  <%= link_to 'Visit URL', @post.url, class: "btn btn-primary" %>
</div>


  </div>


  <% if current_user %>
    <%= link_to edit_post_path(@post), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Edit
    <% end %>
  <% end %>

</div>

<dl class="dl-horizontal">
  <dt>User:</dt>
  <dd><%= @post.user.try(:email) %></dd>

  <dt>Url:</dt>
  <dd><%= @post.url %></dd>

  <dt>Title:</dt>
  <dd><%= @post.title %></dd>

  <dt>Description:</dt>
  <dd><%= @post.description %></dd>
</dl>