<!DOCTYPE html>
<html lang="en">
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<title>Kittes & Rebbits</title>
</head>

<body>
  <header class="navbar navbar-default" role="navigation">
    <div class="navbar-inner">
      <div class="container">

        <div id="logo" class="navbar-brand">
<<<<<<< HEAD
        <a class="navbar-brand">
            <%= image_tag "rabit.jpg", alt: "rabbit pic", class: "img-rounded", size: "100x122" %>
=======
     <a class="navbar-brand">
            <img src="/rabit.jpg/" alt="rabbit pic" class="img-rounded">
>>>>>>> dd0c2ab93df7c4ca91f31497f7115b6ef3b6eb7d
        </a>
        <%= link_to "Kitties & Bunnies", root_path %></div>
        <nav class="collapse navbar-collapse navbar-ex1-collapse">
          <% if user_signed_in? -%>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to 'Edit Account', edit_user_registration_path %></li>
              <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
            </ul>
          <% else -%>
            <ul class="nav navbar-nav navbar-right">
            <li></li>
              <li><%= link_to 'Want to join?', new_user_registration_path %></li>
              <li><%= link_to 'Sign in', new_user_session_path %></li>
            </ul>
          <% end -%>
        </nav>
      </div>
    </div>
  </header>

  <div id="main_content" class="container">
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert alert-info") %>
    <% end %>

      <div id="content" class="col-md-9 center-block">
        <%= yield %>
      </div>
    </div>
  </div>


  <footer>
    <div class="container">
      <p>&copy; The Iron Yard - Kelly Bristol and Duncan Neal Q2 2015</p>
    </div>
  </footer>


</body>
</html>
